header {
    display: flex;
    justify-content: space-between;
    padding: 75px 0 102px 0;
}

header>img {
    width: 551px;
}

.header-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    justify-content: space-around;
}

.header-container>img {
    width: 128px;
}

.header-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* border: 1px solid red; */
    width: 430px;
}

.header-content h2 span {
    color: var(--color-brand-100);
}


.posts {
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    /* gap: 44px; */
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    width: 548px;
    gap: 24px;
    margin-bottom: 93px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-content p{
    color: var(--color-grey-200);
}

.card-content span{
    color: var(--color-brand-100);
}

footer{
    height: 255px;
    background-color: var(--color-grey-100);
    color: var(--color-grey-400);
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    font-weight: 300;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    width: 100%;
}

.footer-content{
    display: flex;
    width: 733px;
    align-items: center;
    /* justify-content: space-between; */
    gap: 54px;
}

