button{
    font-size: var(--font-size-4);
    font-weight: var(--weight-2);
    height: 38px;
    padding: 0px 22px;
    border-radius: var(--radius-1);
}

button:hover{
    cursor: pointer;
}

.btn-grey {
    color: var(--color-grey-200);
    background: var(--color-grey-700);
    border: 1px solid var(--color-grey-700);
}

.btn-grey:hover,
.btn-grey-focus {
    background: var(--color-grey-600);
    border: 1px solid var(--color-grey-600);
}

.btn-grey-dark {
    color: var(--color-grey-700);
    background: var(--color-grey-200);
    border: 1px solid var(--color-grey-200);
}

.btn-grey-dark:hover {
    background: var(--color-grey-300);
    border: 1px solid var(--color-grey-300);
}

.btn-primary {
    color: var(--color-grey-800);
    background: var(--color-brand-100);
    border: 1px solid var(--color-brand-100);
}

.btn-primary:hover {
    background: var(--color-brand-200);
    border: 1px solid var(--color-brand-200);
}

.bg-icon{
    background-color: white;
    border-radius: var(--radius-2);
    position: absolute;
    right: 0;
    top: 0;
    /* opacity: 0.2; */
    opacity: 0.9;
    /* border: 1px solid blue; */
    /* background-color: red; */
    /* border: none; */
    width: 38px;
    height: 38px;
    /* z-index: 0; */
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: var(--radius-2);
    background: url("../imgs/icon.svg") no-repeat center;
    border: 1px solid transparent;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.icon:hover{
    /* background-color: var(--color-grey-500); */
    /* border: 1px solid var(--color-grey-500); */
    /* color: var(--color-grey-100); */
    background: url("../imgs/icon-hover.svg") no-repeat center;
}
