@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-grey-100: #212529;
  --color-grey-200: #495057;
  --color-grey-300: #808387;
  --color-grey-400: #dee2e6;
  --color-grey-500: #e9ecef;
  --color-grey-600: #f1f3f5;
  --color-grey-700: #f8f9fa;
  --color-brand-100: #087f5b;
  --color-brand-200: #099268;

  /* 40px */
  --font-size-1: 2.5rem;
  /* 28px */
  --font-size-2: 1.75rem;
  /* 20px */
  --font-size-3: 1.25rem;
  /* 16px */
  --font-size-4: 1rem;

  --weight-1: 700;
  --weight-2: 600;
  --weight-3: 400;

  --radius-1: 32px;
  --radius-2: 50%;

}

body {
  /* align-items: center;
  height: 100vh;
  background-color: var(--color-grey-4); */
  color: var(--color-grey-100);
}

ul {
  list-style: none;
}

.font1 {
  font-size: var(--font-size-1);
  font-weight: var(--weight-2);
  line-height: 150%;
}

.font2 {
  font-size: var(--font-size-2);
  font-weight: var(--weight-1);
  line-height: 150%;
}

.font3 {
  font-size: var(--font-size-3);
  font-weight: var(--weight-2);
  line-height: 150%;
}

.font4-sb {
  font-size: var(--font-size-4);
  font-weight: var(--weight-2);
  line-height: 150%;
}

.font4-rg {
  font-size: var(--font-size-4);
  font-weight: var(--weight-3);
  line-height: 150%;
}

nav{
  position: relative;
  /* border: 1px solid red; */
}

.navigation {
  display: flex;
  /* flex-wrap: wrap; */
  width: 100%;
  gap: 20px;
  /* border: 1px solid red; */
  margin-bottom: 80px;
  position: relative;
  overflow-x: hidden;
}

footer{
  height: 255px;
  background-color: var(--color-grey-100);
  color: var(--color-grey-300);
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  font-weight: 300;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  width: 100%;
}

.footer-content{
  display: flex;
  width: 733px;
  align-items: center;
  /* justify-content: space-between; */
  gap: 54px;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  
}