@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-grey-100: #212529;
  --color-grey-200: #495057;
  --color-grey-300: #5B636C;
  --color-grey-400: #808387;
  --color-grey-500: #DEE2E6;
  --color-grey-600: #E9ECEF;
  --color-grey-700: #F1F3F5;
  --color-grey-800: #F8F9FA;
  --color-brand-100: #087f5b;
  --color-brand-200: #099268;

  --font-size-1: 2.5rem;   /* 40px */
  --font-size-2: 1.75rem;  /* 28px */
  --font-size-3: 1.25rem;  /* 20px */
  --font-size-4: 1rem;     /* 16px */

  --weight-1: 700;
  --weight-2: 600;
  --weight-3: 400;

  --radius-1: 32px;
  --radius-2: 50%;
}

body {
  color: var(--color-grey-100);
}

a {
  color: var(--color-grey-100);
  text-decoration: none;
}

ul {
  list-style: none;
}

.font1 {
  font-size: var(--font-size-1);
  font-weight: var(--weight-2);
  line-height: 150%;
}

.font2 {
  font-size: var(--font-size-2);
  font-weight: var(--weight-1);
  line-height: 150%;
}

.font3 {
  font-size: var(--font-size-3);
  font-weight: var(--weight-2);
  line-height: 150%;
}

.font4-sb {
  font-size: var(--font-size-4);
  font-weight: var(--weight-2);
  line-height: 150%;
}

.font4-rg {
  font-size: var(--font-size-4);
  font-weight: var(--weight-3);
  line-height: 150%;
}

nav {
  position: relative;
}

.navigation {
  display: flex;
  width: 100%;
  gap: 20px;
  margin-bottom: 80px;
  position: relative;
  overflow-x: hidden;
  padding: 0 20px;
}

footer {
  height: 255px;
  background-color: var(--color-grey-100);
  color: var(--color-grey-300);
  display: flex;
  align-items: center;
  font-weight: 300;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-content {
  display: flex;
  width: 733px;
  align-items: center;
  gap: 54px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.bg-icon-right,
.bg-icon-left {
  background-color: var(--color-grey-800);
  color: var(--color-grey-800);
  border-radius: var(--radius-2);
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.8;
  width: 38px;
  height: 38px;
}

.bg-icon-left {
  left: 0;
}

.icon-right,
.icon-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: var(--radius-2);
  background: url("../imgs/icon.svg") no-repeat center;
  border: 1px solid transparent;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;

}

.icon-left {
  left: 0;
  transform: rotate(180deg);
}

.icon-right:hover,
.icon-left:hover {
  background: url("../imgs/icon-hover.svg") no-repeat center;
}